{% extends 'main.html' %}
{% block post %}
<br>
<div class="alert alert-success" role="alert" style="display: none;">
    This question has been bookmarked.
</div>
<div class="alert alert-danger" role="alert" style="display: none;">
    The bookmark of this question has been removed.
</div>
 <!-- middle main panel -->
<!-- question -->
<div class="mt-5">
    <h1>{{ question.title }}</h1>
    <pre>Asked {{ question.created_at }}</pre>
    <div class="row">
        <div class="col-1 text-center">
            <form action="{% url 'mainframe:upvoteQ' question.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="upvoteQ" class="iconButton"><i class="material-icons upvoteIcon {% if request.session.up %} voted {% endif %} align-middle" style="font-size: 64px;">arrow_drop_up</i></button><br>
            </form>
            <b class="align-middle text-secondary">{{ question.votes }}</b>
            <form action="{% url 'mainframe:downvoteQ' question.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="downvoteQ" class="iconButton"><i class="material-icons downvoteIcon {% if request.session.down %} voted {% endif %} align-middle" style="font-size: 64px;">arrow_drop_down</i></button><br>
            </form>
            <form id="bookmark" action="{% url 'mainframe:bookmark' question.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="bookmark" class="iconButton"><i id="bookmarkIcon" class="material-icons bookmarkIcon {% if qMarked %} voted {% endif %} align-middle" style="font-size: 32px;">bookmark</i></button><br>
            </form>
        </div>
        <div class="col-10">
            <p>
                {{ question.description }}
            </p>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-7">
            {% for t in question.tags.all %}
            <a href="{% url 'mainframe:tagFilter' t.id %}" class="tag my-1">{{t.tagName}}</a>
            {% endfor %}
        </div>
        <div class="col-5 text-end blockquote-footer">
            <a href="{% url 'mainframe:profile' question.made_by.id %}">{{ question.made_by }}</a>
            <b class="text-secondary">{{ question.made_by.rating }}</b>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-1"></div>
        <div class="col-10">
            {% for c in comments %}
                <hr>
                {{ c.description }}
                <div class="text-end blockquote-footer">
                    <span class="text-secondary font-weight-light">{{ c.created_at }}</span>
                    <a href="{% url 'mainframe:profile' c.made_by.id %}">{{ c.made_by }}</a>
                    <b>{{ c.made_by.rating }}</b>
                </div>
            {% endfor %}
            <form action="" method="POST">
                {% csrf_token %}
                {% for f in commentForm %}
                {{f}}
                {% endfor %}
                <input type="submit" class="btn btn-primary" name="Comment" value="Comment">
            </form>
        </div>
    </div>
</div>
<hr> 
<!-- answers -->    
<div class="mt-5">
    <h4>Answers {{ answers.count }}</h4>
    <br><br>
    {% for answer in answers %}
        <pre>Answered {{ answer.created_at }}</pre>
        <div class="row">
            <div class="col-1 text-center">
                <form class="answerUpVote" action="{% url 'mainframe:upvoteA' question.id answer.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="upvoteA" class="iconButton"><i class="material-icons upvoteIcon {{answer.id}} {% if answer.voted %} voted {% endif %} align-middle" style="font-size: 64px;">arrow_drop_up</i></button><br>
                </form>
                <b class="{{answer.id}} align-middle text-secondary">{{ answer.votes }}</b>
                <form action="{% url 'mainframe:acceptAnswer' answer.id question.id %}" id="acceptAnswerForm{{answer.id}}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="acceptAnswer" class="iconButton"><i class="material-icons mt-3 acceptAnswerIcon align-middle" style="font-size: 32px;">verified</i></button>
                </form>
            </div>
            <div class="col-10">
                <p>
                    {{ answer.description }}
                </p>
            </div>
            <div class="row mt-5">
                <div class="col-7" id="comment{{answer.id}}">
                    <a onclick="showAnswerComment(this);" href="javascript:;">Add Comment</a>
                </div>
                <div class="col-7 align-center" id="acomment{{answer.id}}" style="display: none;">
                    <form action="{% url 'mainframe:acomment' answer.id question.id %}" method="POST">
                        {% csrf_token %}
                        {% for f in answer.answerCommentForm %}
                            {{f}}
                        {% endfor %}
                        <input type="submit" class="btn btn-primary" name="Comment" value="Comment">
                    </form>
                </div>

                <div class="col-5 text-end blockquote-footer">
                    <a href="{% url 'mainframe:profile' answer.made_by.id %}">{{ answer.made_by }}</a>
                    <b class="text-secondary">{{ answer.made_by.name }}</b>
                    <b>{{ answer.made_by.rating }}</b>
                </div>
            </div>
            {% if answer.comments %}
                <h5>Comments {{answer.comments.count}}</h5>
            {% endif %}
            {% for c in answer.comments %}
                <div class="col-1"></div>
                <div class="col-11">
                    <hr style="border-top: 1px solid rgb(122, 214, 141);">
                    {{ c.description }}
                    <div class="text-end blockquote-footer">
                        <span class="text-secondary font-weight-light">{{ c.created_at }}</span>
                        <a href="{% url 'mainframe:profile' c.made_by.id %}">{{ c.made_by }}</a>
                        <b>{{ c.made_by.rating }}</b>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
</div>
<!-- add answer -->
<h3 class="mt-5">Your Answer</h3>
<div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-10">
        <form action="" method="POST">
            {% csrf_token %}
            {% for f in answerForm %}
            {{f}}
            {% endfor %}
            <input type="submit" class="btn btn-primary" name="Answer">
        </form>
    </div>
</div>

<script>
    var accepted = '{{accepted}}'
 </script> 

{% endblock post %}